.settings {
  box-shadow: inset 1px 1px 1px hsl(0, 0%, 80%),
    inset -1px -1px 1px hsl(0, 0%, 30%);
  max-width: 17rem;
  width: 100vw;
}

.setting {
  max-width: 17rem;
  width: 100vw;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsHeader {
  max-width: 17rem;
  width: 100vw;
  min-height: 2rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.settingsList {
  padding: 5px;
  list-style: none;
  max-width: 100%;
  max-height: 200px;
  width: 100vw;
  overflow-y: scroll;
}