.settings {
  border-radius: 23px;
  background: #2a2a2a;
  box-shadow: inset -7px 7px 14px #1e1e1e, 
              inset 7px -7px 14px #363636;
  max-width: 17rem;
  width: 100vw;
}

.settingsHeader {
  max-width: 17rem;
  width: 100vw;
  min-height: 2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
}

.icon, .title {
  padding: 1px;
  border-radius: 29px;
  background: linear-gradient(225deg, #2d2d2d, #262626);
  box-shadow:  -4px 4px 3px #232323, 
    4px -4px 3px #313131;
}

.title {
  padding: 0 5px;
}

.icon:hover, .title:hover {
  background: linear-gradient(225deg, #262626, #2d2d2d);
}

.settingsList {
  padding: 5px;
  list-style: none;
  max-width: 100%;
  max-height: 200px;
  width: 100vw;
  overflow-y: scroll;
}