.wrapper {
  padding: 15px;
}

.peopleOnline {
  max-height: 60vh;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 10px 5px;
  background: linear-gradient(145deg, #2d2d2d, #262626);
  box-shadow:  -7px 7px 14px #212121, 
              7px -7px 14px #333333;
  display: flex;
  width: 100px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.title {
  border-radius: 5px;
  padding: 2px;
  background: #2a2a2a;
  box-shadow:  -7px 7px 14px #212121, 
     7px -7px 14px #333333;
}

.container {
  padding: 10px 0;
}

.person {
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 5px;
  background: #2a2a2a;
  box-shadow: inset -7px 7px 14px #212121, 
    inset 7px -7px 14px #333333;
  display: flex;
  flex-direction: column;
}

.icon {
  background: linear-gradient(225deg, #2d2d2d, #262626);
box-shadow:  -4px 4px 4px #212121, 
             4px -4px 4px #333333;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-image: url(https://picsum.photos/500);
  background-position: center;
  background-size: cover;
}

.name {
  border-radius: 5px;
  background: linear-gradient(225deg, #2d2d2d, #262626);
  box-shadow:  -4px 4px 7px #212121, 
    4px -4px 7px #333333;
  width: 75px;
  overflow: hidden;
  text-align: center;
}

.name:hover {
  background: linear-gradient(225deg, #262626, #2d2d2d);
}

.name:active {
  box-shadow: inset -4px 4px 7px #212121, 
    inset 4px -4px 7px #333333;
}

.refresh {
  border-radius: 11px;
  background: #2a2a2a;
  box-shadow:  7px 7px 14px #212121, 
    -7px -7px 14px #333333;
  border: none;
  background-color: inherit;
  padding: 5px 15px;
}

.refresh:active {
  box-shadow: inset 7px 7px 14px #212121, 
    inset -7px -7px 14px #333333;
}