* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

#root {
  overflow: hidden;
  width: 100vw;
  flex-direction: column;
}

#page {
  width: 300vw;
  display: flex;
  height: 85vh;
  margin-top: 15vh;
  overflow: hidden;
}

body {
  background-color: rgb(42, 42, 42);
  min-height: 100vh;
  display: flex;
}