* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

#root {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

#page {
  height: 80vh;
  overflow-y: scroll;
  margin-top: 60px;
  width: 300vw;
  display: flex;
}

body {
  background-color: rgb(42, 42, 42);
  min-height: 100vh;
  display: flex;
}