.avatarWrapper {
  padding: 1rem;
  position: relative;
  max-width: 20rem;
  width: 100vw;
  height: max-content;
}

.centerAvatar {
  position: relative;
  border: 1px solid white;
  box-shadow: 3px 3px 5px 0px black;
  border-radius: 15px;
  border: 1px solid black;
  overflow: hidden;
}

.imageUploadLabel {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.avatarUpload {
  opacity: 0;
  width: 0;
  height: 0;
}

.imageUploadLabel:hover {
  background-color: hsla(0, 0%, 0%, 0.5);
  cursor: pointer;
}

.imageUploadLabel:hover + .faFolderPlus {
  display: block;
}

.faFolderPlus {
  display: none;
  opacity: 35%;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar {
  display: block;
  width: 100%;
  height: auto;
}