.recentChats {
  width: 100vw;
  max-width: 350px;
  position: relative;
  padding: 15px;
}

.recentChatsContainer {
  padding: 5px;
  height: 400px;
  overflow-y: scroll;
}

.recentChatsHeader {
  border-radius: 36px;
  background: #2a2a2a;
  box-shadow:  -5px 5px 4px #252525, 
    5px -5px 4px #2f2f2f;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.headerTitle {
  border-radius: 7px;
  background: linear-gradient(225deg, #262626, #2d2d2d);
  box-shadow:  -4px 4px 3px #272727, 
    4px -4px 3px #2d2d2d;
  padding: 2px 15px;
}

.headerTitle:hover {
  background: linear-gradient(225deg, #2d2d2d, #262626);
  box-shadow:  -4px 4px 3px #272727, 
     4px -4px 3px #2d2d2d; 
}

.messagesContainer {
  padding-top: 10px;
  list-style: none;
}

.message {
  border-radius: 13px;
  background: #2a2a2a;
  box-shadow:  -3px 3px 3px #1f1f1f, 
    3px -3px 3px #353535;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
  margin-bottom: 10px;
}

.messageContent {
  border-radius: 13px;
  background: #2a2a2a;
  box-shadow: inset -2px 2px 3px #1f1f1f, 
    inset 2px -2px 3px #353535;
  padding: 5px;
  min-height: 4rem;
  max-height: 4rem;
  overflow-y: hidden;
  word-wrap: break-word;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.messageContent:hover {
  box-shadow:  -2px 2px 3px #1f1f1f, 
   2px -2px 3px #353535;
}

.messageSender {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mask {
  background: linear-gradient(225deg, #2d2d2d, #262626);
  box-shadow:  -5px 5px 10px #222222, 
    5px -5px 10px #323232;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.senderName {
  border-radius: 13px;
  background: linear-gradient(225deg, #2d2d2d, #262626);
  box-shadow:  -2px 2px 3px #232323, 
    2px -2px 3px #313131;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.width100 {
  width: 100%;
}