.nav {
  margin-top: 15px;
  display: flex;
  align-items: center;
  width: 100vw;
}

.navMenu {
  margin: 0 auto;
}

.navList {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.option, .navLink {
  margin-bottom: 10px;
  border-radius: 10px;
  background: #2a2a2a;
  box-shadow:  -5px 5px 10px #232323, 
    5px -5px 10px #313131;
  display: flex;
  text-decoration: none;
  padding: 10px;
  width: 80vw;
}

.option{
  cursor: pointer;
  border: none;
}

.option:active, .navLink:active {
  box-shadow: inset -5px 5px 10px #232323, 
  inset 5px -5px 10px #313131;
}

.title {
  margin-bottom: 15px;
}